			

			body  {
			    background-color: #a5a5a5;
			    font-family: 'Roboto Slab', serif;
			  
			    display: block;
			    max-width: 100%;
			    margin: auto;

			    border: 2px dashed black;
			    color: black;
			}
			header	{
				width: 100%;
				text-align: center;
				border: 2px dashed blue;
				margin: auto;
			}

			section	{
				width: 100%;
				margin: auto;
				border: 2px dashed red;

			}

			div	{
				clear: both;
				display: inline-block;
				height: 100%;
				width: 33%;
			}

			p 	{
				
				display: inline-block;
				border: 2px dashed white;

			}
			
			img	{
				
				display: inline-block;
				border: 2px dashed green;

			}
			footer	{
				height: 100%;
				clear: both;
				display: block;
				margin: auto;
				border: 2px dashed yellow;
			}


			.topBorder	{
				width: 100%;
				background-color: red;
			}
			.gallery	{
				height: 500px;
				width: 100%;
			}

			.topPic	{
				width: 30%;
				float: right;
				border: 2px dashed white;
			}

			#aboutMe	{
				width: 65%;
				float: left;
			}

			.bottomPic	{
				width: 30%;
				float: left;
				border: 1px dotted yellow;
			}
			#info	{
				width: 65%;
				float: right;
			}


			@media	(max-width: 700px)	{

				p 	{
					text-align: center;
					display: block;
					margin: auto;
					border: 2px dashed white;

				}
				img	{
					display: block;
					margin: auto;
					border: 2px dashed green;

				}

				#aboutMe	{
					width: 95%;
					float: none;
					
				}
				.topPic	{
					width: 95%;
					float: none;
					border: 2px dashed white;
				}


				
				#info	{
					width: 95%;
					float: none;
				}
				.bottomPic	{
					width: 95%;
					float: none;
					border: 1px dotted yellow;
				}
			}























































			
			    transition: left 2s;
			    -webkit-transition: left 2s;
			    -moz-transition: left 2s;
			
			    transition: top 3s;
			    -webkit-transition: top 3s;
			    -moz-transition: top 3s;