			body  {
			    background-color: #a5a5a5;
			    font-family: 'Roboto Slab', serif;
			    color: white;
			    display: block;
			    max-width: 1000px;
			    width: 100%;
			    margin: auto;
			}
			header	{
				width: 95%;
			}

			section	{
				width: 90%;
				display: inline-block;
			}
			p 	{
				width: 40%;
			}
			}
			img	{
				width: 40%;

			}

			.topPic	{
				float: right;
				width: 40%;
			}
			.bottomPic	{
				float: left;
				width: 40%;
			}




























































			
			    transition: left 2s;
			    -webkit-transition: left 2s;
			    -moz-transition: left 2s;
			
			    transition: top 3s;
			    -webkit-transition: top 3s;
			    -moz-transition: top 3s;