			body  {
			    background-color: #a5a5a5;
			    font-family: 'Roboto Slab', serif;
			    color: white;
			    display: block;
			    max-width: 1000px;
			    width: 100%;
			    margin: auto;
			}
			header	{

			}

			section	{
				display: inline;
			}

			img	{
				width: 40%;
			}





























































			
			    transition: left 2s;
			    -webkit-transition: left 2s;
			    -moz-transition: left 2s;
			
			    transition: top 3s;
			    -webkit-transition: top 3s;
			    -moz-transition: top 3s;